<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"
      text="Atrás"
      color="primary"
      mode="ios">
    </ion-back-button>
    </ion-buttons>
    <ion-title><ion-icon name="videocam-outline"></ion-icon> Películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<br>
<br>
<br>
  
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="/assets/img/pel1.jpg">
        </ion-col>
        <ion-col>
          <img src="/assets/img/pel2.jpg">
        </ion-col>
        <ion-col>
          <img src="/assets/img/pel3.jpg">
        </ion-col>
      </ion-row>
      </ion-grid>


      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/assets/img/pel3.jpg">
          </ion-col>
          <ion-col>
            <img src="/assets/img/pel1.jpg">
          </ion-col>
          <ion-col>
            <img src="/assets/img/pel2.jpg">
          </ion-col>
        </ion-row>
        </ion-grid>


        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="/assets/img/pel1.jpg">
            </ion-col>
            <ion-col>
              <img src="/assets/img/pel2.jpg">
            </ion-col>
            <ion-col>
              <img src="/assets/img/pel3.jpg">
            </ion-col>
          </ion-row>
          </ion-grid>






</ion-content>
