<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"
      text="Atrás"
      color="primary"
      mode="ios">
    </ion-back-button>
    </ion-buttons>
    
    <ion-title><ion-icon name="caret-forward-circle-outline"></ion-icon> Series</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <br>
  <br>
  <br>
    
    <ion-row>
      <ion-col>
        <img src="/assets/img/ser1.jpg">
      </ion-col>
      <ion-col>
        <img src="/assets/img/ser2.jpg">
      </ion-col>
      <ion-col>
        <img src="/assets/img/ser3.jpg">
      </ion-col>
    </ion-row>
 


  
    <ion-row>
      <ion-col>
        <img src="/assets/img/ser3.jpg">
      </ion-col>
      <ion-col>
        <img src="/assets/img/ser1.jpg">
      </ion-col>
      <ion-col>
        <img src="/assets/img/ser2.jpg">
      </ion-col>
    </ion-row>

  
    <ion-row>
      <ion-col>
        <img src="/assets/img/ser1.jpg">
      </ion-col>
      <ion-col>
        <img src="/assets/img/ser2.jpg">
      </ion-col>
      <ion-col>
        <img src="/assets/img/ser3.jpg">
      </ion-col>
    </ion-row>

  
</ion-content>
