<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">


        <!--Avatar de menu-->
        <ion-buttons slot="start"> 
          <ion-avatar>
             <ion-img src="/assets/user.png"></ion-img>
          </ion-avatar>  
        </ion-buttons>
        <!--//Avatar de menu-->
        
        <!--Nombre de usuario-->
        
        <ion-buttons slot="start">
          <ion-text color="light">
            <h5>User</h5>
          </ion-text>
        </ion-buttons>
        <!--//Nombre de usuario-->

        <!--Registro de menu-->
        <ion-buttons slot="end">
          <ion-button routerLink="/registro" color="light" mode="ios"><h15><ion-icon name="log-in-outline"></ion-icon> Registrar</h15></ion-button>
        </ion-buttons>
        <!--//Registro de menu-->    
        
          

      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
          <ion-menu-toggle *ngFor="let c of componentes">
          <ion-item [routerLink]="c.redirecTo"
                  detail=true>
          <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
          {{ c.name }}
        </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
